{% extends 'base.html' %}

{% load static %} 
<!DOCTYPE html>

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
</head>
<body>
    <video src="{% static 'videos/Pink_Blue_Green_Gradient_Color_and_Style_Video_Background.mp4' %}" autoplay loop muted></video>
   


    <div class="header">
      
        <button class="button-login"> Get started!
        </button>
        <h2>SwiftGet</h2>
    
    </div>

    <div class="Wrapping">
       
        <div class="formbox">
            <h2>Login</h2>
            <form method="POST" action="">
                {% csrf_token %}


                <div class="inputbox">
                    <span class="icon"></span>
                    {{ form.username }}
                    <label>Username</label>
                </div>
                
                <div class="inputbox">
                    <span class="icon"></span>
                    {{ form.password }}
                    <label>Password</label>
                </div>

                <button type="submit" class="btn login_btn">Login</button>
            </form>
            
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <p>Don't have an account yet? <a href="{% url 'main:register' %}" style="color: purple; text-decoration: underline;">Register Now</a></p>
        </div>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
{% endblock %}