{% extends 'base.html' %}
{% load static %} 
<!DOCTYPE html>

{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main</title>
        <link rel="stylesheet" href="{% static 'css/style3.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
      <!-- <img src="{% static 'images/406914-Fluid_gradient_wallpaper_design.jpg' %}" alt="Fluid Gradient Wallpaper"> -->
      <video src="{% static 'videos/Pink_Main.mp4' %}" autoplay loop muted></video>
      


        <div class="header">

          <div class="login-info">
            <h5>Last Login: {{ last_login }}</h5>
          </div>

          <div class="user-info">
            <h5>Class: {{ class }}</h5>
          </div>

          
          <div class="user-info">
            <h5>NPM: 2306275443</h5>
          </div>

          <div class="actions">
            <a href="{% url 'main:register_product' %}">
              <button class="btn-add">Add New Product</button>
            </a>
          </div>

        

          

          {% include 'navbar.html' %}

        </div>

        <div class="product-container">
          {% if not product_entries %}
            <p>No product data available in SwiftGet.</p>
          {% else %}
            <div class="scrollable-area">
              <table class="product-table">
                <thead>
                  <tr>
                    <!-- <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Actions</th> -->
                  </tr>
                </thead>
                <tbody>
                  {% for product_entry in product_entries %}
                  
                    <!-- <td>{{ product_entry.name }}</td>
                    <td>{{ product_entry.description }}</td>
                    <td>{{ product_entry.price }}</td>
                    <td>{{ product_entry.category }}</td> -->
               
                    {% include 'card_product.html' with product_entry=product_entry %}
                  
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
        <script src="{% static 'js/index.js' %}"></script>
    </body>
    </html>

{% endblock %}






















