{% extends 'base.html' %}
{% block content %}

<h1>{{app_name}}</h1>
<p><p>
<h5>Name: {{ name }} </h5>
<p><p>
<h5 >class: {{ class }} </h5>
<p><p>
    

{% if not product_entries %}
<p>Belum ada data product dalam swiftget.</p>
{% else %}
<table>
  <tr>
    <th>Product name</th>
    <th>description</th>
    <th>price</th>
    <th>category</th>
  </tr>


  {% comment %} Berikut cara memperlihatkan data product di bawah baris ini 
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.category}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:register_product' %}">
  <button>Add New Product</button>
</a>
{% endblock content %}